/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables*/
:root {
    /*--variable-name */
    --primary-font: "Oswald", sans-serif;
    --primary-color: rgb(12, 12, 20); /* Dark Blue/Black */
    --secondary-color: #0E101C; /* Blue/Black */
    --tertiary-color: rgb(19, 21, 38); /* Lighter Blue/Black */
    --highlight: #D8D7DE; /* Grey */
    --light-highlight: rgb(124, 104, 68); /* Taupe */
    --bright-highlight: rgb(169, 49, 62); /* Pink highlight */
}

/* General styles */
body {
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: var(--primary-font);
    margin: 0;
}

header {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    color: var(--highlight);
}

/* Controls area - container style */
.control-area {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    justify-content: center;
}

.start {
    margin: 20px;
    width: 150px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.start:hover {
    background: var(--light-highlight);
    color: white;
}

.instructions:hover {
    background-color: rgba(169, 49, 62, 0.5);
    color: white;
    transform: scale(1.2);
}
