/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables*/
:root {
    /*--variable-name */
    --primary-font: "Oswald", sans-serif;
    --primary-color: rgb(12, 12, 20); /* Dark Blue/Black */
    --secondary-color: rgb(19, 21, 38); /* Lighter Blue/Black */
    --highlight: #D8D7DE; /* Grey */
    --light-highlight: rgb(124, 104, 68); /* Taupe */
    --bright-highlight: rgb(169, 49, 62); /* Pink highlight */
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: var(--primary-font);
    margin: 0;
    overflow-x: hidden;
    overflow-wrap: anywhere;
}

main {
    /* Main element to take up any surplus space to push footer down */
    flex: 1 0 auto;
    max-width: 1399px;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    color: var(--highlight);
    text-align: center;
}

/* Games area - container style */
.games-area { 
    background-color: var(--highlight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
}

/* Controls area - container style */
.control-area {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    justify-content: center;
    position: absolute;
    top: 0;
}

.start, .new-start, .restart-board {
    margin: 20px;
    width: 150px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.start:hover, .new-start:hover, .restart-board:hover {
    background: var(--light-highlight);
    color: white;
}

.instructions:hover {
    background-color: rgba(169, 49, 62, 0.5);
    color: white;
    transform: scale(1.2);
}

.reset-board {
    background-color: white;
    color: white;
    border: 0px white;
}

.reset-board-shown {
    margin: 20px;
    width: 150px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    background-color: var(--bright-highlight);
    text-transform: uppercase;
}
.reset-board-shown:hover {
    background: var(--bright-highlight);
    color: white;
    transform: scale(1.2);
}


/* Cards area - container style */
.cards-area {  /* Inspiration taken from "Coding Made Simple" - styling cards in CSS with a 3D effect */
    display: grid;
    grid-template-columns: repeat(4, 150px); /* Creates a 4 x 4 grid*/
    grid-template-rows: repeat(4, 150px);
    width: max-content;
    gap: 15px;
    align-items: center;
    padding: 10px;
    margin: 25px;
    position: relative;
}

.card {
    display: flex;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* 3D animation */
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 5px 5px 2px 0px rgba(19, 21, 38, 0.6); /* add the box shadow around the cards */
    transform: transform 0s;
    transform-style: preserve-3d;
}

.card.clicked .card-inner {
    transform: rotateY(180deg); /* Flips the card*/
    background-color: white;
}

.card.matched .card-back {
    filter: brightness(50%); /* Dims the brightness of the matched cards*/
    transform: scale(1.0);
    background-color: white;
    cursor: none;
}

.card-back, .card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* the back of the card is hidden */
}

.card-front {
    background-color: var(--secondary-color);
    font-size: larger;
}

.card-front:hover {
    background-color: var(--light-highlight);
    box-shadow: 5px 2px 2px 0px rgba(224, 201, 157, 0.4);
}

.card-back {
    transform: rotateY(180deg);
}

.card-back img {
    width: 90%;
    height: 90%;
}

/* Score and attempts left*/
footer {
    background-color: rgba(12, 12, 20, 0.8);
    max-height: 150px;
    color: var(--highlight);
    position: relative;
}

.score-and-attempts-area {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.matched-area, .attempts-area {
    width: 50%;
    display: flex;
    justify-content: end;
    font-size:xx-large;
}

.matched-cards, .attempts-made {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size:xx-large
}

/* Media query: extra small devices, phones) */
@media screen and (max-width: 575px) {
.cards-area { 
    display: grid;
    grid-template-columns: repeat(4, 70px); /* Creates a 4 x 4 grid*/
    grid-template-rows: repeat(4, 70px);
    width: max-content;
    gap: 10px;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.matched-area, .attempts-area {
    font-size: medium;
}

.matched-cards, .attempts-made {
    font-size: medium;
}

}

/* Media query: small devices (576px and up) */
@media screen and (min-width: 576px) {
.cards-area { 
    display: grid;
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: repeat(4, 100px);
    width: max-content;
    gap: 10px;
    max-width: 1200px;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.matched-area, .attempts-area {
    font-size: large;
}

.matched-cards, .attempts-made {
    font-size: large;
}
}


/* Media query: medium devices (768px and up) */
@media screen and (min-width: 768px) {
.cards-area { 
    display: grid;
    grid-template-columns: repeat(4, 110px); 
    grid-template-rows: repeat(4, 110px);
    width: max-content;
    gap: 10px;
    max-width: 1200px;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.matched-area, .attempts-area {
    font-size: large;
}

.matched-cards, .attempts-made {
    font-size: large;
}
}

/* Media query: large devices (992px and up) */
@media screen and (min-width: 992px) {
.cards-area { 
    display: grid;
    grid-template-columns: repeat(4, 130px); 
    grid-template-rows: repeat(4, 130px);
    width: max-content;
    gap: 10px;
    max-width: 1200px;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.matched-area, .attempts-area {
    font-size: x-large;
}

.matched-cards, .attempts-made {
    font-size: x-large;
}
}

/* Media query: extra large devices (1200px and up) */
@media screen and (min-width: 1200px) {
.cards-area { 
    display: grid;
    grid-template-columns: repeat(4, 180px); 
    grid-template-rows: repeat(4, 180px);
    width: max-content;
    gap: 10px;
    max-width: 1200px;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.matched-area, .attempts-area {
    font-size: xx-large;
}

.matched-cards, .attempts-made {
    font-size: xx-large;
}
}